*.asv
*.avi
*.mp4
*.aux
*.log
*.out
*.toc
*.gz
*.bcf
*.blg
*.dvi
*.ps
*.xml
*.bbl
FinalYearLatex/3.FinalReportA/FinalReportA.pdf
FinalYearLatex/3.FinalReportA/_content/All_Text.txt
*.synctex(busy)
*.lof
